
/* =============================================================================
#TYPOGRAPHY
============================================================================= */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

body {    
    font-family: "Kumbh Sans", Arial, Helvetica, sans-serif;
}

/* =============================================================================
#GENERAL
============================================================================= */
body {
    background-color: hsl(185, 75%, 39%);

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100svh;
}

main {
    background-color: white;

    width: 100%;

    border-radius: 10px;
}

/* =============================================================================
#CONTENT
============================================================================= */
body {
    margin: 16px;
}

.bg-pattern {    
    display: block;

    height: 160px;
    width: 100%;

    overflow: hidden;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

    .bg-pattern img {
        width: 100%;
        height: 100%;

        object-fit: cover;
        object-position: center;
    }

    .profile {
        display: flex;
        justify-content: center;
    } 

        .profile img {
            border-radius: 50%;

            border-style: solid;
            border-color: white;
            border-width: 5px;
            
            height: 100px;
            width: 100px;

            margin-bottom: 40px;
        }
 
.info {
    display: flex;
    justify-content: center;

    gap: 10px;
    padding-bottom: 20px;

    font-size: 18px;

}    

.info h1 {
    font-weight: bold;
}

.info span {
    color: hsl(227, 10%, 46%);
}

.info h3 {
    text-align: center;

    color: hsl(227, 10%, 46%);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 12px; */

    border-top: 2px solid hsl(0, 0%, 59%);
}

.grid > div {
    padding: 30px;
    text-align: center;
}

.grid > div p {
    font-size: 12px;

    color: hsl(227, 10%, 46%);
    letter-spacing: 2px;
}

.grid > div .numbers{
    font-weight: bold;
    font-size: 18px;

    color: black;

    letter-spacing: 0px;
    padding-bottom: 6px;
}
