
/* =============================================================================
#TYPOGRAPHY
============================================================================= */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

body {    
    font-family: "Kumbh Sans", Arial, Helvetica, sans-serif;
}

/* =============================================================================
#GENERAL
============================================================================= */
body {
    background-color: hsl(185, 75%, 39%);

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100svh;
}

main {
    background-color: white;

    width: 100%;

    border-radius: 10px;
}

/* =============================================================================
#CONTENT
============================================================================= */
body {
    margin: 16px;

    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    /* background-image: url(images/bg-pattern-bottom.svg); */
    background-position: left top, right bottom;
    /* background-repeat: no-repeat, no-repeat; */
}

.header {
    background-image: url(images/bg-pattern-card.svg);

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    height: 160px;
}

    .profile {
        display: flex;
        justify-content: center;

        padding-top: 100px;
    } 

        .profile img {
            border-radius: 50%;

            border-style: solid;
            border-color: white;
            border-width: 5px;
            
            height: 100px;
            width: 100px;

        }
 
.content {
    padding-top: 70px;
}

    .info {
        display: flex;
        justify-content: center;

        gap: 10px;
        padding-bottom: 10px;

        font-size: 18px;

    }    

        .info h1 {
            font-weight: bold;
        }

        .info span {
            color: hsl(227, 10%, 46%);
        }

         h3 {
            text-align: center;
            font-size: 16px;

            color: hsl(227, 10%, 46%);

            padding-bottom: 30px;
        }

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 12px; */

    border-top: 1px solid hsl(227, 10%, 46%);
}

    .grid > div {
        padding: 30px;
        text-align: center;
    }

    .grid > div p {
        font-size: 12px;

        color: hsl(227, 10%, 46%);
        letter-spacing: 2px;
    }

    .grid > div .numbers{
        font-weight: bold;
        font-size: 18px;

        color: black;

        letter-spacing: 0px;
        padding-bottom: 6px;
    }
